{% extends "source/base.html" %}

{% load static %}

{% block content %}

    <div class="grid">

        {% include "source/nav_bar.html" %}
        <div class="barra-nav">
            <div class="pestañas">
                <button onclick="location.href=' {% url 'Monitor' %}'" class="pestañas__boton" id="boton-start">Scan
                </button>
                <button class="pestañas__boton" onclick="location.href=' {% url 'APs' %}'" id="boton-stop"
                        style="display: none">Stop
                </button>
                <div class="loader" id="loader"></div>
            </div>
            <div class="user">
                <p style="color: #0285BF">User:</p><span class="user_name">{{ request.user }}</span>
                <span class="separator">|</span>
                <span>
                    <a class="logout" href="{% url 'logout' %}">Logout</a>
                </span>

            </div>
        </div>

        <div id="table-container" class="table_parent">
            <table id="maintable" class="redes-wifi__tabla">
                <thead class="redes-wifi__encabezado cursor">
                <tr class="redes-wifi__encabezado__tr">
                    <th class="redes-wifi__encabezado__columna1__ap fixed-header" onclick="sortTable(0)"
                        style="width: 10%;">#
                        ({{ aps|length }})
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-sort arrow"
                             width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ffffff" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M3 9l4 -4l4 4m-4 -4v14"/>
                            <path d="M21 15l-4 4l-4 -4m4 4v-14"/>
                        </svg>
                    </th>
                    <th class="redes-wifi__encabezado__columna2__ap fixed-header" onclick="sortTable(1)"
                        style="width: 25%;">SSID
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-sort arrow"
                             width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ffffff" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M3 9l4 -4l4 4m-4 -4v14"/>
                            <path d="M21 15l-4 4l-4 -4m4 4v-14"/>
                        </svg>
                    </th>
                    <th class="redes-wifi__encabezado__columna3__ap fixed-header" onclick="sortTable(2)"
                        style="width: 25%;">BSSID
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-sort arrow"
                             width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ffffff" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M3 9l4 -4l4 4m-4 -4v14"/>
                            <path d="M21 15l-4 4l-4 -4m4 4v-14"/>
                        </svg>
                    </th>
                    <th class="redes-wifi__encabezado__columna4__ap fixed-header" onclick="sortTable(3)"
                        style="width: 10%;">RSSI
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-sort arrow"
                             width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ffffff" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M3 9l4 -4l4 4m-4 -4v14"/>
                            <path d="M21 15l-4 4l-4 -4m4 4v-14"/>
                        </svg>
                    </th>
                    <th class="redes-wifi__encabezado__columna5__ap fixed-header" onclick="sortTable(4)"
                        style="width: 10%;">Channel
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-sort arrow"
                             width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ffffff" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M3 9l4 -4l4 4m-4 -4v14"/>
                            <path d="M21 15l-4 4l-4 -4m4 4v-14"/>
                        </svg>
                    </th>
                    <th class="redes-wifi__encabezado__columna6__ap fixed-header" onclick="sortTable(5)"
                        style="width: 20%;">Security
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrows-sort arrow"
                             width="16" height="16" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ffffff" fill="none"
                             stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M3 9l4 -4l4 4m-4 -4v14"/>
                            <path d="M21 15l-4 4l-4 -4m4 4v-14"/>
                        </svg>
                    </th>
                </tr>
                </thead>
                <tbody class="redes-wifi__tabla__body" id="tabla_body">
                {% for ap in aps %}
                    <tr class="redes-wifi__filas hover" id="ap-info" onclick="location.href='{{ ap.id }}/informacion'">
                        <!-- Crear una vista para los datos -->
                        <td class="redes-wifi__filas__columnas cursor" style="width: 10%;">{{ ap.id }}</td>
                        <td class="redes-wifi__filas__columnas cursor" class="essid1" id="app"
                            style="width: 25%;">{{ ap.essid }}</td>
                        <td class="redes-wifi__filas__columnas cursor" style="width: 25%;">{{ ap.bssid }}</td>
                        <td class="redes-wifi__filas__columnas cursor rssi" style="width: 10%;">{{ ap.rssi }}</td>
                        <td class="redes-wifi__filas__columnas cursor" style="width: 10%;">{{ ap.canal }}</td>
                        <td class="redes-wifi__filas__columnas cursor" style="width: 20%;">{{ ap.encriptacion }}</td>
                    </tr>
                    <script type="text/javascript">
                        var aps = "{{aps}}";
                    </script>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}