{% extends "source/base.html" %}

{% load static %}

{% block content %}

    <div class="grid">
        {% include "source/nav_bar.html" %}

        <div class="barra-nav">
            <div class="pestañas">
                <button onclick="location.href=' {% url 'Monitor' %}'" class="pestañas__boton" id="boton-start">Scan
                </button>
                <button class="pestañas__boton" onclick="location.href=' {% url 'APs' %}'" id="boton-stop"
                        style="display: none">Stop
                </button>
                <div class="loader" id="loader"></div>
            </div>
            <div class="user">
                <p>User:</p><span class="user_name">{{ request.user }}</span>
                <span class="separator">|</span>
                <span>
                    <a class="logout" href="{% url 'logout' %}">Logout</a>
                </span>

            </div>
        </div>

        <div id="table-container" class="table_parent">
            <table id="maintable" class="redes-wifi__tabla">
                <thead class="redes-wifi__encabezado">
                <tr class="redes-wifi__encabezado__tr">
                    <th class="redes-wifi__encabezado__columna1__ap fixed-header" style="width: 10%;">#
                        ({{ aps|length }})
                    </th>
                    <th class="redes-wifi__encabezado__columna2__ap fixed-header" style="width: 25%;">SSID</th>
                    <th class="redes-wifi__encabezado__columna3__ap fixed-header" style="width: 25%;">BSSID</th>
                    <th class="redes-wifi__encabezado__columna4__ap fixed-header" style="width: 10%;">RSSI</th>
                    <th class="redes-wifi__encabezado__columna5__ap fixed-header" style="width: 10%;">Channel</th>
                    <th class="redes-wifi__encabezado__columna6__ap fixed-header" style="width: 20%;">Frecuency</th>
                </tr>
                </thead>
                <tbody class="redes-wifi__tabla__body blocked-background">
                {% for ap in aps %}
                    <tr class="redes-wifi__filas nohover" onclick="showData();">
                        <td class="redes-wifi__filas__columnas cursor-wait" style="width: 10%;">{{ ap.id }}</td>
                        <td class="redes-wifi__filas__columnas cursor-wait" style="width: 25%;">{{ ap.ssid }}</td>
                        <td class="redes-wifi__filas__columnas cursor-wait" style="width: 25%;">{{ ap.bssid }}</td>
                        <td class="redes-wifi__filas__columnas cursor-wait " style="width: 10%;">{{ ap.rssi }}</td>
                        <td class="redes-wifi__filas__columnas cursor-wait" style="width: 10%;">{{ ap.channel }}</td>
                        <td class="redes-wifi__filas__columnas cursor-wait"
                            style="width: 20%;">{{ ap.spectrum }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        window.onload = function () {
            update()
        };
    </script>



{% endblock %}